# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules

# Build
.next
**/dist
.husky
mockServiceWorker.js
yarn.lock
.svelte-kit
.prettierignore

# Angular build cache
**/.angular/cache
*.svg
*.ico
*.lock
.gitignore
.gitattributes
*.xml

# Data files that aren't really our code
packages/hono/src/zValidator.ts

# Prettier supports MDX 1, but MDX 2 and 3 are not officially supported yet. Recommend against formatting MDX files with Prettier.
# https://marketplace.visualstudio.com/items?itemName=unifiedjs.vscode-mdx#prettier
*.mdx
.github/ISSUE_TEMPLATE
docs/public/llms.txt