/* purgecss start ignore */
@reference "../styles/index.css";

.contents__list {
  overflow: overlay;
  height: calc(((100vh - 4.5rem) - 64px) - 42px);
}

.contents__link {
  @apply text-gray-700;
}

.contents__link:hover {
  @apply text-blue-600;
}

.contents__link--active {
  @apply font-medium text-coral-default;
}
/* purgecss end ignore */
