name: tests

on:
  pull_request:
    branches:
      - 'master'
      - 'next'
permissions:
  contents: read

jobs:
  tests:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        node-version: [22.x]
    steps:
      - uses: actions/checkout@v6
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          # disable setup-node@v5's caching to be able to setup yarn
          # https://github.com/actions/setup-node/issues/1357
          package-manager-cache: false
      - name: Enable corepack
        run: corepack enable
      # until setup-node have better support for corepack we have to setup yarn in 2 steps
      # https://github.com/actions/setup-node/issues/531
      - uses: actions/setup-node@v6
      - name: install
        run: yarn
      - name: build
        run: yarn build
      - name: lint
        # not all packages pass linting yet - ongoing work
        run: yarn oxlint packages/angular packages/axios packages/fetch packages/hono packages/mcp packages/query packages/swr --type-aware --format=github
      - name: samples up to date
        uses: nickcharlton/diff-check@v1.0.0
        with:
          command: yarn update-samples
      - name: formatting
        run: yarn format:check
      - name: unit tests
        run: yarn test:ci
