name: tests

on:
  pull_request:
    branches:
      - 'master'
      - 'next'
permissions:
  contents: read

jobs:
  tests:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        node-version: [16.x]
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - name: install
        run: yarn
      - name: build
        run: yarn build
      - name: unit tests
        run: yarn test:ci
      - name: tests install
        working-directory: ./tests
        run: yarn
      - name: tests generate
        working-directory: ./tests
        run: yarn generate
      - name: tests build
        working-directory: ./tests
        run: yarn build
